<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp</h1>
      <p>View our hand picked campgrounds</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new"
          >Add New Campground</a
        >
      </p>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <img
          src="<%= campground.image %>"
          class="card-img-top"
          alt="<%= campground.name %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= campground.name %></h5>
          <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary"
            >More Info</a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
